{% extends "./base.html" %}

{% block title %}CITAS{% endblock %}
{% block content %}
<div>
    <header>
    <div class="sidebar">
        <a href="{{ url_for('bms') }}">INICIO</a>
        <a href="{{ url_for('registroPacientes') }}">REGISTRO PACIENTE</a>
        <a href="{{ url_for('citas') }}">CITAS</a>
        <a href="{{ url_for('consultas') }}">CONSULTAS</a>
        <a href="{{ url_for('tratamientos') }}">TRATAMIENTOS</a>
        <a href="{{ url_for('estadisticas') }}">ESTADISTICAS</a>
        <a href="{{ url_for('configuraciones') }}">CONFIGURACIONES</a>
        <a href="{{ url_for('calendario') }}">CALENDARIO</a>
        <a href="{{ url_for('logout') }}">CERRAR SESION</a>
    </div>
    </header>
    <div class="sectionForm">
        <h2>Gestión de Citas</h2>
        <section>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <br>
                {% for category, message in messages %}
                    <div role="alert" class="alert alert-{{ category }}" style="background-color: #d1ecf1; color: #0c5460; border: 1px solid #bee5eb; padding: 10px; margin-bottom: 15px; border-radius: 5px;">
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="{{ url_for('citas') }}" class="busquedaPaciente" method="POST">
                <label for="busqueda">N° de Historia o Cédula:</label>
                <input type="text" id="busqueda" name="busqueda" placeholder="Ingrese N° de Historia o Cédula" value="{{ request.args.get('busqueda', '') }}">
                <button type="submit">Buscar</button>
            </form>

            {% if busqueda_realizada and paciente_encontrado %}
            <h3>Datos del Paciente Encontrado</h3>
            <div class="datosPaciente">
                <label for="idPaciente">ID de Historia</label>
                <input type="text" id="idPacienteDisplay" value="{{ paciente_encontrado[0] }}" style="text-align: center" disabled><br>
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" value="{{ paciente_encontrado[1] }}" style="text-align: center" disabled><br>
                <label for="apellido">Apellido</label>
                <input type="text" id="apellido" value="{{ paciente_encontrado[2] }}" style="text-align: center" disabled><br>
                <label for="nroCedula">Cédula</label>
                <input type="text" id="nroCedula" value="{{ paciente_encontrado[3] }}" style="text-align: center" disabled><br>
            </div>
            <br>
            <div>
            <h3>Registrar Nueva Cita</h3>
                <form action="{{ url_for('citas') }}" method="POST">
                    <input type="hidden" name="idPaciente" value="{{ paciente_encontrado[0] }}">
                    <section class="formRegistro">
                        <div>
                            <label for="fechaCita">Fecha de la Cita:</label>
                            <input type="date" id="fechaCita" name="fechaCita" required>
                        </div>
                        <div>
                            <label for="horaCita">Hora de la Cita:</label>
                            <input type="time" id="horaCita" name="horaCita" required>
                        </div>
                        <div>
                            <label for="motivoCita">Motivo de la Cita:</label>
                            <textarea id="motivoCita" name="motivoCita" rows="4" required></textarea>
                        </div>
                        <div>
                            <button type="submit">Registrar Cita</button>
                            <button type="reset">Borrar</button>
                        </div>
                    </section>
                </form>
            </div>

            <h3>Citas Programadas para {{ paciente_encontrado[1] }} {{ paciente_encontrado[2] }}</h3>
            {% if paciente_citas %}
            <table>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Motivo</th>
                        <th>Acciones</th> {# Añade esta columna para los botones #}
                    </tr>
                </thead>
                <tbody>
                    {% for cita in paciente_citas %}
                    <tr>
                        <td>{{ cita[2] }}</td> 
                        <td>{{ cita[4] }}</td> 
                        <td>
                            {# Botones de acción para cada cita del paciente #}
                            <section class="formSection">
                                <form action="{{ url_for('editar_cita', idCita=cita[0]) }}" method="GET" class="button">
                                    <button type="submit">Editar</button>
                                </form>
                                <form action="{{ url_for('eliminar_cita', idCita=cita[0]) }}" method="POST" class="button">
                                    <button type="submit" >Eliminar</button>
                                </form>
                            </section>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            {% endif %}

            {% elif busqueda_realizada and not paciente_encontrado %}
            <p>No se encontró el paciente.</p>
            {% endif %}
        </section>
    </div>    
</div>
{% endblock %}