{% extends "./base.html" %}

{% block title %}Tratamientos de Pacientes{% endblock %}
{% block content %}
<div>
    <header>
        <div class="sidebar">
        <a href="{{ url_for('bms') }}">INICIO</a>
        <a href="{{ url_for('registroPacientes') }}">REGISTRO PACIENTE</a>
        <a href="{{ url_for('citas') }}">CITAS</a>
        <a href="{{ url_for('consultas') }}">CONSULTAS</a>
        <a href="{{ url_for('tratamientos') }}">TRATAMIENTOS</a>
        <a href="{{ url_for('estadisticas') }}">ESTADISTICAS</a>
        <a href="{{ url_for('configuraciones') }}">CONFIGURACIONES</a>
        <a href="{{ url_for('calendario') }}">CALENDARIO</a>
        <a href="{{ url_for('logout') }}">CERRAR SESION</a>
        </div>
    </header>

    <div class="sectionForm">
        <h2>Tratamientos Pacientes</h2>
        <section>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <br>
                {% for message in messages %}
                    <div role="alert" style="background-color: #d1ecf1; color: #0c5460; border: 1px solid #bee5eb; padding: 10px; margin-bottom: 15px; border-radius: 5px;">
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="{{ url_for('tratamientos') }}" class="busquedaPaciente" method="POST">
                <label for="busqueda">N° de Historia o Cédula:</label>
                <input type="text" id="busqueda" name="busqueda" placeholder="Ingrese N° de Historia o Cédula" value="{{ request.args.get('busqueda', '') }}">
                <button type="submit">Buscar</button>
            </form>
        </section>
        <br>
        {% if paciente_encontrado %}
         <form action="{{ url_for('registrarTratamiento') }}"  method="POST">
            <h3>Datos del Paciente</h3>
            <input type="hidden" name="idPaciente" value="{{ paciente_encontrado[0] }}">
            <div class="datosPaciente">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" value="{{ paciente_encontrado[2] }}" style="text-align: center;" disabled><br>
                <label for="apellido">Apellido</label>
                <input type="text" id="apellido" value="{{ paciente_encontrado[3] }}" style="text-align: center;" disabled ><br>
                <label for="nroCedula">Cedula</label>
                <input type="text" id="nroCedula" value="{{ paciente_encontrado[4] }}" style="text-align: center;" disabled ><br>
            </div>
            <h3>Datos del Tratamiento</h3> 
                <section class="formSection">
                    <section>
                        <label for="recibe_tratamiento_status">Recibe tratamiento</label>
                        <select name="recibe_tratamiento_status" id="recibe_tratamiento_status" value="{{ form_data.medicacion if form_data else '' }}">
                            <option value="">Seleccione una opcion</option>
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                    </section>
                    <section>
                        <label for="especificacion_tratamiento">Especifique</label>
                        <input type="text" name="especificacion_tratamiento" id="especificacion_tratamiento" value="{{ form_data.medicacion if form_data else '' }}">
                    </section>
                    <section>
                        <label for="fecha_tratamiento">Fecha</label>
                        <input type="date" name="fecha_tratamiento" id="fecha_tratamiento" value="{{ form_data.medicacion if form_data else '' }}">
                    </section>
                    <section>
                        <label for="medicacion">Medicación</label>
                        <input type="text" name="medicacion" id="medicacion" value="{{ form_data.medicacion if form_data else '' }}">
                    </section>           
                </section>
            <div class="botonesRegistro">
                <button type="submit">Registrar Tratamiento</button>
                <button type="reset">Borrar</button>
            </div>
        </form>                
        {% endif %}
    </div>    
</div>
{% endblock %}
